.choose-item {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray;
    .circle {
        flex: 0 0 50px;
        height: 50px;
        margin-right: 10px;
    }
    p {
        flex: 0 0 74%;
        margin-bottom: 0;
        @include font(16px, 500, $darkGray);
    }
}

.choose-item+.choose-item {
    padding-top: 15px;
}