* {
    // outline: 1px solid;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background: url('../images/bg.jpg');
    box-shadow: inset 0 92px $black, inset 0 -220px $black;
}

img {
    width: 100%;
    vertical-align: middle;
}

h2 {
    font-size: 25px;
    margin-bottom: 25px;
    @media (min-width: 576px) {
        font-size: 30px;
    }
}

main {
    background: url('../images/subbg.gif');
    margin-bottom: 70px;
    box-shadow: 0 0 2px 0 rgba($color: $darkGray, $alpha: 0.7), 0 0 5px rgba($color: $darkGray, $alpha: 0.7);
}

figcaption {
    @include font(14px,
    500,
    $darkGray);
}