.banner {
    .carousel-item img {
        min-height: 35vh;
    }
    .carousel-control-prev,
    .carousel-control-next {
        margin: auto;
        height: 30%;
        width: 3%;
        background-color: #222;
        opacity: 1;
        &-icon,
        &-icon {
            width: 15px;
        }
        &:hover {
            background-color: $green;
        }
    }
}