.tooltip {
  opacity: 1;

  width: 100%;
  height: fit-content;
  background: #E6E6E6;
  padding: 1rem;
  position: relative;
  margin-bottom: 40px;
  font-size: .9rem;
  border-radius: 5px;
  filter: drop-shadow(0 0 .5px #808080);
}

.tooltip::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 15px;
  border-right-width: 20px;
  border-bottom-width: 15px;
  border-left-width: 20px;
  border-top-color: #E6E6E6;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #E6E6E6;
  bottom: -20px;
  left: 0px;
}

.tooltip-info {
  display: flex;
}

.tooltip-info-avatar {
  flex: 0 0 25%;
  margin-right: 1rem;
  > img {
    width: 100%;
    display: block;
  }
}

.tooltip-info-detail {
  font-size: .9rem;
  > span, 
  > a {
    display: block;
    margin-bottom: .5rem;
  }
  > a {
    text-decoration: none;
    color: #80b600;
    font-style: italic;
  }
}




