$green: #81b70c;
$black: #171717;
$font-white: #fff;
$font-black: #171717; 
$font-gray: #8f8f8f;
$background-white: #fff;
$background-gray: #e8e8e8;
$background-black:rgba(0,0,0,0.5);
$button-gray: #cecece;
$button-darkgray: #2c2d2f;
