*{ 
    box-sizing: border-box;

    &::after{
        box-sizing: border-box;
    }
    &::before{
        box-sizing: border-box;
    } 
}

h1,h2,h3,h4,h5,p,ol,ul,li,label,input{
    margin: 0;
}

ol,ul,li {
    list-style: none;
    padding: 0;
}

a {
    display: block;

    &:hover{
        text-decoration: none;
    }
}

button{
    border: none;
}

