// ====================================
// # base

@import "base/color";
@import "base/typography";

@import "base/reset";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
