$dark_yellow: #E5E978;
$light_gray: #A7A7A7;
$light_red: #EEB1B2;
$dark_red: #F3262D;
$dark_white: #F2F2F2;


.bk_light_gray {
    background-color: $light_gray;
}

.border_light_gray {
    border: 1px solid $light_gray;
}
