:root {
    --color-dark: #4A4A4A;
    --color-white: #fff;
    --color-lightGreen: #DEE9D5;
    --color-middleGreen: #97B387;
    --color-darkGreen: #316610;
    --color-brown: #8E6436;
    --color-yellow: #E2E499;
    --color-gray: #99999A;
}

.center {
    justify-content: center;
}

html,
body {
    margin: 0;
    font-size: 16px;
}

body {
    background-image: url("./img/outside_background.jpg");
}

img {
    width: 100%;
}

h2 {
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
}

.own-container {
    width: 100%;
    background-color: var(--color-darkGreen);
    padding: 0 20px;
}

[class^="col"]>div {
    padding: 20px 10px;
    margin: 0 auto;
}


/* ------------header------- */

header {
    background-color: var(--color-white);
}

header h1 {
    margin: 20px 0;
}


/* ------nav--------- */

.nav {
    background-color: var(--color-dark);
    border-bottom: 1px solid var(--color-white);
}

.nav-link {
    flex: 1;
    padding: 10px 0;
    color: var(--color-white);
    text-align: center;
}

.nav a:hover {
    color: var(--color-dark);
    background-color: var(--color-lightGreen);
}

.nav button {
    border: none;
}


/* -------輪播圖--------- */

.carousel p {
    display: -webkit-box;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 15px;
}

.banner {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-weight: 500;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.banner img {
    width: 15px;
}

.banner h2 {
    font-size: 18px;
    color: var( --color-yellow);
}


/* -------section plants--------- */

.plants {
    padding: 0 10px;
}

.item {
    font-size: 0;
}

.item-img,
.item-body {
    display: inline-block;
    vertical-align: middle;
}

.item-img {
    width: 34%;
    font-size: 0;
    border: 2px solid #fff;
}

.item-body {
    width: 66%;
    padding-left: 20px;
    font-weight: 500;
    color: #eee;
}

.item-body h3 {
    color: var(--color-yellow);
}

.item-body p {
    font-size: 15px;
    margin-bottom: 0;
}


/* -----------main------------ */

main {
    padding: 20px 10px;
    background-color: #fff;
}

main h2 {
    padding: 10px 20px;
    font-size: 18px;
    color: var(--color-brown);
    background-color: var(--color-lightGreen);
    border-bottom: 2px solid #C8DBBE;
}

.own-card-img {
    margin-bottom: 20px;
}

.gardens .title {
    padding: 0 10px;
}

.own-card {
    text-align: center;
}

.gardens h3 {
    color: var(--color-brown);
}

.gardens p {
    color: #555;
    margin-bottom: 0;
}

hr {
    margin: 0 10px;
}


/* ----------section news--------- */

.news {
    position: relative;
    background-color: #fff;
}

.article h2 {
    margin-bottom: 30px;
}

.article-content p {
    color: #555;
    padding-left: 20px;
}

.article {
    counter-reset: section;
}

.article-content p::before {
    position: absolute;
    left: 10px;
    counter-increment: section;
    content: counter(section) ". ";
    font-weight: 600;
}

.article-content p:last-child {
    margin-bottom: 0;
}


/* --------------footer--------------- */

footer .contact {
    color: var(--color-gray);
    background-color: var(--color-lightGreen);
    text-align: center;
}

footer .contact-item {
    padding: 20px;
}

footer .social {
    display: inline-block;
    text-align: left;
}

.contact-item p {
    margin-bottom: 0;
}

.contact-item h3 {
    margin-bottom: 16px;
}

.social>a {
    display: block;
    text-decoration: none;
    color: var(--color-gray);
}

.social img {
    width: 20px;
    margin-right: 10px;
}

.social span {
    vertical-align: middle;
}

.copyright {
    font-weight: 600;
    font-size: 0;
    text-align: center;
    padding: 5px 0;
    color: #fff;
}

.copyright>div {
    display: inline-block;
    width: 100%;
    font-size: 15px;
}

.copyright span {
    display: none;
    font-size: 0.9rem;
}


/* ------media------- */

@media screen and (min-width: 576px) {
    .banner {
        padding: 20px;
    }
    .banner p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    .plants .item>div {
        vertical-align: top;
    }
    .plants>div+div::before {
        content: " ";
        position: absolute;
        height: 85%;
        width: 3px;
        left: -15px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: #387114;
        box-shadow: 1px 0 2px #444;
    }
    .plants .item-body {
        padding-right: 20px;
    }
    .own-card,
    .contact-item {
        text-align: left;
    }
    .contact div+div {
        border-left: 1px solid #C8DBBE;
    }
    .copyright>div {
        width: auto;
    }
}