/* main-banner_list */

@media (min-width: 768px) {
  main .banner_list .custom_border-right {
    border-right: 1px solid #1b330c;
  }

  main .banner_list .custom_border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}

main .banner_list h3 {
  font-size: 1rem;
}

main .banner_list img {
  border: 1px solid #fff;
}

@media (min-width: 500px) and (max-width: 767.9px) {
  main .banner_list img {
    width: 100%;
  }
  main .banner_list a {
    width: 30%;
  }
}

main .banner_list p {
  font-size: 0.8rem;
  color: #fff;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
  main .banner_list p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}

/* main-card_group */

main .card_group h3 {
  background-color: #daead0;
  font-size: 1rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  margin: 0px;
  color: #836145;
  text-shadow: #fff 1px 1px;
  border-bottom: 2px solid #b3cca4;
}

main .card_footer {
  padding: 0;
}

main .card_group .card_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
}

main .card_group .card_row:first-of-type {
  border-bottom: 1px solid #c5c5c598;
}

main .card_group .card_col {
  width: 48%;
}

main .card_group .card_body a {
  width: 100%;
  display: inline-block;
}

main .card_group .card_body h5 {
  font-size: 1.1rem;
  padding: 1.5rem 0 0 0;
}

main .card_group .card_body p {
  font-size: 0.8rem;
  line-height: 1.25rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  main .card_group .card_body p {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  main .card_group .card_col {
    width: 23.5%;
  }
  main .card_group .card_body p {
    margin-bottom: 2rem;
  }
}

.card_link {
  color: #836145;
}

.card_link:hover {
  color: #744a28;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  .card_link {
    font-size: 0.9rem;
  }
}

/* main-card_footer */

main .card_footer .card_img {
  width: 100%;
  padding-top: 1rem;
  order: 2;
}
main .card_footer .card_text {
  width: 100%;
  order: 1;
  padding-top: 0;
}

@media (min-width: 768px) {
  main .card_footer .card_img {
    width: 35%;
    padding-top: 0;
    order: 0;
  }
  main .card_footer .card_text {
    width: 63%;
    order: 0;
  }
}

/* card_footer-counter */

main .card_counter {
  counter-reset: num;
  font-size: 0;
  padding-top: 1rem;
  margin: 0;
}

@media (min-width: 768px) {
  main .card_counter {
    padding-top: 2rem;
  }
}

main .card_counter div::before {
  vertical-align: top;
  counter-increment: num;
  content: counter(num) ".";
  display: inline-block;
  width: 3%;
  font-size: 0.8rem;
}

main .card_counter div p {
  vertical-align: top;
  font-size: 0.9rem;
  line-height: 1.25rem;
  display: inline-block;
  width: 97%;
  margin-bottom: 1rem;
}

main .card_counter div:nth-of-type(3) p {
  margin-bottom: 0;
}