@use '../utility/reset';
@use '../utility/color.scss';
@use '../utility/sizing.scss';
@use '../utility/font.scss';
@use '../utility/background.scss';
@use '../element/button.scss';


.feature_works{
    .photo_gallery{
        h2{
            @extend %font-h2;
            @media (min-width:992px) {
                margin-bottom: 0;
            }
        }
        .gallery_button{
            text-align: right;
            @media (max-width:992px) {
                display: none;
            }
        }
        .gallery_item{
            box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
            img{
                width: sizing.$width-full;
            }
            a{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: color.$background-black  url(../images/icon1.png) no-repeat top 50% left 50%;

                transition: opacity .5s ease;
                opacity: 0;
            }
            &:hover{
                a{
                    opacity: 1;
                }
            }
        }
    }
}