body{
    margin: 0 auto;
}

header{
    background-color: #efefef;
}

nav{
    width: 945px;
    font-size: 0;
    margin: 0 auto;
    padding: 35px 0;
}

.logo{
    width: 80px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
} 

.logo_image{
    width: 55px;
}

nav a{
    text-decoration:none;
    color: black;
}

h1{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.list{
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}

.list a{
    font-family: sans-serif;
    font-size: 17px;
    display: inline-block;
    margin-left: 100px;
    text-decoration:none;
    color: black;
    
}

.list a:hover{
    color: #f59830;
}

.container{
    background-color: #fdfdfd;
}

figure{
    width: 840px;
    font-size: 0;
    margin: auto;
    padding-top: 70px;
}

figcaption{
    width: 400px;
    display: inline-block;
}

figcaption h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 60px;
    margin: 0;
}

figcaption h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}

figcaption p{
    color: #808080;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0;
}

figure img{
    width: 400px;
    vertical-align: top;
    margin-left: 40px;
}

.try_it_now{
    width: 230px;
    margin: 0 auto;
    padding-top: 25px;
}

button{
    background: linear-gradient(#f9b94c 50%,#f59530 50%);
    color: white;
    font-size: 28px;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 15px 0 ;
    cursor: pointer;
}

.button_text{
    font-size: 16px;
}

section{
    width: 900px;
    font-size: 0;
    margin: 0 auto;
    padding: 110px 0 175px;
    column-count: 2;
    column-gap: 50px;
}

section h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin: 0 0 30px 0;
    column-span: all;
}

section p{
    color: #808080;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 40px 0; 
}

footer{
    background-color: #efefef;
}

.footer_container{
    width: 900px;
    margin: 0 auto;
    padding: 35px 0;
}

.footer_container p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    float: left;
    line-height: 35px;
    margin: 0;
}

.social{
    font-size: 0;
    text-align: right;
}

.social a{
    color: black;
    text-decoration:none;
    margin-left: 25px;
}

.social i{
    font-size: 35px;
    cursor: pointer;
}

.social i:hover{
    color: #f59830;
}