@import "../module/color";

.footer_area{
    background-color: $dark_red;
    color: $dark_white;
    // margin-top: 3vh;

    .footer_menu {
        padding-left: 0;
        margin-bottom: 0;
        font-size: 9pt;
        display: inline;
        li {
            display: inline;
            padding: 0 3px;
            border: none;
            @media (min-width: 576px) {
                &:nth-last-child(1){
                    border: none;
                }
                border-right: 1px solid $dark_white;
            }
        }
    }

    .footer_icon {
        display: flex;
        justify-content: space-around;
        i {
            font-size: 22pt;
        }
    }
}
// }
