@use "../settings/settings";
@use "../tools/grid";

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -(settings.$grid-gutter-width);
  margin-left: -(settings.$grid-gutter-width);
}

@include grid.make-grid-columns();

.no-gutters-x {
  margin-left: 0;

  & > .col,
  & > [class*="col-"] {
    padding-left: 0;
  }
}

.no-gutters-y {
  margin-top: 0;

  & > .col,
  & > [class*="col-"] {
    padding-top: 0;
  }
}
