.nav_text_color{
    color:#d5d6b8;
}

.banner_title{
    color:#ddde9e;
}

.banner_text_color{
    color: #f7f6f6;
}

.item_title{
    color:#e2e3a1; 
    font-size: 1rem;
}

.item_text_color{
    color:#f4f6f3;
}

.product_title{
    font-size: 1rem;
    color:#84694b;
}

