<footer>
  <!-- ================= footer_list ================= -->
  <section class="footer_list">
    <div class="row">
      <!-- ================= tweets ================= -->
      <div class="col-12 col-md-6 col-xl-3">
        <section class="footer_item">
          <h2 class="display-3">Latest Tweets</h2>
          <p>loading tweets...</p>
        </section>
      </div>

      <!-- ================= testimonial ================= -->
      <div class="col-12 col-md-6 col-xl-3">
        <section class="footer_item">
          <h2 class="display-3">Testimonials</h2>
          <section class="testimonial">
            <div class="testimonial_body bubble">
              <p class="bubble_text">"Sed dapibus molesite interdum. Fusce nec est ante, sit amet lacinia lorem. Maecenas nec eros ut mauris pulvinar suscipit. Aliquam erat"</p>
            </div>
            <div class="testimonial_person">
              <div class="media">
                <div class="media_img">
                  <img src="../images/men.jpg"
                    alt="Stephen Bingham">
                </div>
                <div class="media_body">
                  <h4 class="media_title">Stephen Bingham</h4>
                  <a href="http://www.demolink.org"
                    class="media_link">demolink.org</a>
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>

      <!-- ================= form ================= -->
      <div class="col-12 col-md-6 col-xl-3">
        <section class="footer_item">
          <h2 class="display-3">Get in touch!</h2>
          <form class="form contact">
            <input type="text"
              class="form_control"
              name="name"
              placeholder="Name">
            <input type="email"
              class="form_control"
              name="email"
              placeholder="Email">
            <textarea name="message"
              class="form_control"
              cols="32"
              rows="6"
              placeholder="Message"></textarea>
            <div class="button_group">
              <button type="reset"
                class="button button--secondary">Clear Form</button>
              <button type="submit"
                class="button button--primary">Send!</button>
            </div>
          </form>
        </section>
      </div>

      <!-- ================= album ================= -->
      <div class="col-12 col-md-6 col-xl-3">
        <section class="footer_item">
          <h2 class="display-3">Flickr</h2>
          <section class="album">
            <a href="##"
              class="album_item">
              <img src="../images/f1.jpg"
                alt="album 1">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f2.jpg"
                alt="album 2">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f3.jpg"
                alt="album 3">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f4.jpg"
                alt="album 4">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f5.jpg"
                alt="album 5">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f6.jpg"
                alt="album 6">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f7.jpg"
                alt="album 7">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f8.jpg"
                alt="album 8">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f9.jpg"
                alt="album 9">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f10.jpg"
                alt="album 10">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f11.jpg"
                alt="album 11">
            </a>
            <a href="##"
              class="album_item">
              <img src="../images/f12.jpg"
                alt="album 12">
            </a>
          </section>
        </section>
      </div>
    </div>
  </section>

  <!-- ================= footer_bar ================= -->
  <section class="footer_bar">
    <!-- ================= nav--secondary ================= -->
    <nav class="footer_nav nav--secondary">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active"
            href="##">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="##">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="##">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="##">Protfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="##">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="##">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- ================= copyright ================= -->
    <section class="copyright order-lg-first">
      <p>BUSINESS PLANET &copy; 2020 | <a href="##">Privacy Policy</a></p>
    </section>
  </section>
</footer>