<header>
  <!-- ================= logo ================= -->
  <section class="logo">
    <h1>
      <img src="../images/logo.png"
        title="Business Planet"
        alt="logo">
    </h1>
  </section>

  <!-- ================= contact ================= -->
  <section class="contact">
    <section class="social">
      <a href="##" class="icon icon_facebook" title="Facebook"></a>
      <a href="##" class="icon icon_twitter" title="Twitter"></a>
      <a href="##" class="icon icon_flickr" title="Flickr"></a>
      <a href="##" class="icon icon_dribbble" title="Dribbble"></a>
      <a href="##" class="icon icon_rss" title="RSS"></a>
    </section>
    <div class="telephone">
      <address>
        Call Us Now: <a href="tel:+1777784-25-43">+1 (777) 784-25-43</a>
      </address>
    </div>
  </section>
</header>