.button {
  width: 12rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  margin: 3rem 0;
  cursor: pointer;
  transition: background 0.5s ease-in, color 1s ease-in;
  &:hover {
    background-color: $brand-secondary;
    color: #fff;
  }
}
.button_black {
  background-color: #000;
  color: #fff;
}
.button_white {
  background-color: #fff;
  color: #000;
}
