/*
* component nav
*/

.nav {
  background: $brand-primary;
  color: $brand-tertiary;
  text-align: center;
  .nav_item {
    @include font(normal, 1rem, 3rem, $font);
    display: inline-block;
    &:hover {
      color: #fff;
      transition: color 0.5s ease-out;
    }
    &:not(:last-of-type) {
      margin-right: 0.8rem;
    }
  }
}
